FanClient/App_WebReferences/FanServices/FanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29253/FanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29253/FanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29253/FanService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:29253/FanService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFanService_GetVenueNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueNames" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetVenueNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetArtistNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistNames" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetArtistNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetShowNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowNames" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetShowNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetVenueShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueShows" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetVenueShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetArtistShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistShows" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetArtistShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IFanService_RegisterFan_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterFan" />
  </wsdl:message>
  <wsdl:message name="IFanService_RegisterFan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterFanResponse" />
  </wsdl:message>
  <wsdl:message name="IFanService_FanLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FanLogin" />
  </wsdl:message>
  <wsdl:message name="IFanService_FanLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FanLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IFanService_AddFanArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFanArtist" />
  </wsdl:message>
  <wsdl:message name="IFanService_AddFanArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFanArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetFanArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFanArtists" />
  </wsdl:message>
  <wsdl:message name="IFanService_GetFanArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFanArtistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFanService">
    <wsdl:operation name="GetVenueNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/GetVenueNames" message="tns:IFanService_GetVenueNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/GetVenueNamesResponse" message="tns:IFanService_GetVenueNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/GetArtistNames" message="tns:IFanService_GetArtistNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/GetArtistNamesResponse" message="tns:IFanService_GetArtistNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/GetShowNames" message="tns:IFanService_GetShowNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/GetShowNamesResponse" message="tns:IFanService_GetShowNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVenueShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/GetVenueShows" message="tns:IFanService_GetVenueShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/GetVenueShowsResponse" message="tns:IFanService_GetVenueShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/GetArtistShows" message="tns:IFanService_GetArtistShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/GetArtistShowsResponse" message="tns:IFanService_GetArtistShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterFan">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/RegisterFan" message="tns:IFanService_RegisterFan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/RegisterFanResponse" message="tns:IFanService_RegisterFan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/FanLogin" message="tns:IFanService_FanLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/FanLoginResponse" message="tns:IFanService_FanLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFanArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/AddFanArtist" message="tns:IFanService_AddFanArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/AddFanArtistResponse" message="tns:IFanService_AddFanArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFanArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanService/GetFanArtists" message="tns:IFanService_GetFanArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanService/GetFanArtistsResponse" message="tns:IFanService_GetFanArtists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFanService" type="tns:IFanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVenueNames">
      <soap:operation soapAction="http://tempuri.org/IFanService/GetVenueNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistNames">
      <soap:operation soapAction="http://tempuri.org/IFanService/GetArtistNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowNames">
      <soap:operation soapAction="http://tempuri.org/IFanService/GetShowNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenueShows">
      <soap:operation soapAction="http://tempuri.org/IFanService/GetVenueShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistShows">
      <soap:operation soapAction="http://tempuri.org/IFanService/GetArtistShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterFan">
      <soap:operation soapAction="http://tempuri.org/IFanService/RegisterFan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <soap:operation soapAction="http://tempuri.org/IFanService/FanLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFanArtist">
      <soap:operation soapAction="http://tempuri.org/IFanService/AddFanArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFanArtists">
      <soap:operation soapAction="http://tempuri.org/IFanService/GetFanArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FanService">
    <wsdl:port name="BasicHttpBinding_IFanService" binding="tns:BasicHttpBinding_IFanService">
      <soap:address location="http://localhost:29253/FanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>